apiVersion: v1
kind: Service
metadata:
  name: ecommerce-service
spec:
  selector:
    app: ecommerce
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3500
    nodePort: 30629 
  type: NodePort   # Exposes on minikube IP
